*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* css color variables */
  --very-dark-blue: #070439;
  --desaturated-blue: #585989;
  --bright-blue: #3065f8;
  --moderate-cyan: #3c9f8f;
  --light-grayish-blue: #f6f6fe;
  --light-gray: #bfbfbf;
  /* css font variables and font weights*/
  --font-heading-callToAction-header-nav: 'Raleway', arial, sans-serif;
  --font-body: 'Open Sans', arial, sans-serif;
  /* padding  */
  --section-padding: 0 50px;
}

a{
  /* removes underline */
  text-decoration: none;
  color: #000;
}
a:visited{
  /* removes underline */
  text-decoration: none;
  color: #000;
}

/*---------- Header ----------*/

header{
  top: 0;
  width: 100%;
  height: 160px;
  max-width: 1440px;
  margin: 0 auto;
  /* flex and align-items: center; to vertically align the content */
  display: flex;
  align-items: center;
  /* flex and justify-content: center; aligns content horizontally */
  justify-content: center;
  padding: var(--section-padding);
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo{
  margin-left: 0px;
  margin-right: auto;
}

ul{
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-heading-callToAction-header-nav);
  font-weight: 400;
  list-style: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;
}

li{
  margin-left: 50px;
}

/*---------- Header End ----------*/
/* ------------------------------- */
/*---------- Main Section 1 ----------*/

#section1{
  max-width: 1440px;
  margin: 0 auto 200px;
  /* vertically centers section1-wrapper  */
  display: flex;
  flex-direction: row;
  align-items: center;
}

#img1{
  /* padding: var(--section-padding); */
  /* display: flex; */
  /* float: right; */
  /* clear: right; */
  max-width: 55%;
}

#section1-wrapper{
  padding: var(--section-padding);
  /* float: left; */
  /* clear: left; */
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

h1{
  font-family: var(--font-heading-callToAction-header-nav);
  font-weight: 700;
  font-size: 2.13rem;
  line-height: 140%;
}

p{
  font-family: var(--font-body);
  font-weight: 400px;
  margin-top: 25px;
  font-size: 1rem;
}

#form-button-wrapper{
  margin-top: 25px;
}

#form1{
  /* display:flex; */
  float: left;
  /* display: inline-block; */
  width: 250px;
  height: 30px;
  border-radius: 3px;
}

#input1{
  /* display:flex; */
  float: left;
  /* display: inline-block; */
  width: 250px;
  height: 30px;
  border-radius: 4px;
  padding-left: 10px;
}

input::placeholder{color: var(--light-gray);}
input:focus{outline:0;}

#button1{
  /* float: right; */
  /* display: inline-block; */
  width: 150px;
  height: 30px;
  border-radius: 4px;
  background-color: var(--bright-blue);
  color: #fff;
  margin-left: 12px;
}

button:focus{outline: 0;}

/*---------- Main Section 1 End ----------*/
/*---------- Section 2 Start ----------*/

#section2{
  height: 700px;
  max-width: 1440px;
  margin: 200px auto 0 auto;
  /* vertically centers section1-wrapper  */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-image: url(/Projects-In-Progress/fylo-light/images/bg-curve-desktop.svg); */
}

#background-purple{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 900px; */
}

#section2-wrapper{
  max-width: 800px;
  padding: var(--section-padding);
  float: left;
  display: flex;
  flex-direction: column;
  /* z-index: 1; */
}

#section2-paragraph-wrapper{
  max-width: 500px;
}

#section2-link-wrapper{
  display: flex;
}

#section2-link{
  margin: 20px 0;
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--moderate-cyan);
  display: flex;
  text-decoration: underline;
}

#section2-link:hover{
  opacity: .8;
}

#arrow-svg{
  margin: 3px 0;
  width: 20px;
}

#testimonial-wrapper{
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

#testimonial-avatar-wrapper{
  display: flex;
  margin-top: 15px;
}

#testimonial-avatar-text-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6px;
}

#testimonial-paragraph{
  margin: 5px 0;
  font-size: .8rem;
}

#testimonial-avatar{
  border-radius: 100px;
  width: 50px;
}

#img2{
  /* width: 600px; */
  max-width: 43%;
  margin-left: 100px;
}

/*----------  Section 2 End ----------*/
/*----------  Section 3 Start ----------*/
#section3{
  background-color: var(--desaturated-blue);
}

#section3-wrapper{
  height: 300px;
  max-width: 1440px;
  margin: 0 auto 200px;
  /* vertically centers section1-wrapper  */
  display: flex;
  flex-direction: row;
  align-items: center;
}


#section3-text-wrapper{
  padding: var(--section-padding);
  color: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#form-button-wrapper{
  margin-top: 25px;
  padding: var(--section-padding);
}

#form2{
  /* display:flex; */
  float: left;
  /* display: inline-block; */
  width: 300px;
  height: 40px;
  border-radius: 3px;
}

#input2{
  /* display:flex; */
  float: left;
  /* display: inline-block; */
  width: 300px;
  height: 40px;
  border-radius: 4px;
  padding-left: 10px;
}

#button2{
  width: 200px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--bright-blue);
  color: #fff;
  margin-left: 12px;
  /* border-color: none; */
  /* background-color: var(--bright-blue); */
}

/*----------  Section 3 End ----------*/

/* =================================== */
/*---------- Media Queries ----------*/
/* =================================== */

@media(max-width: 700px){
  /*---------  Mobile 700 Header ---------*/
  header{
  padding: 0  20px;
  }

  #logo{
    width: 150px;
  }

  ul{
  font-size: 1rem;
  }

  li{
  margin-left: 30px;
  }
  /*---------  Mobile 700 Header End ---------*/
  /*--------- Mobile 700 Section 1 ---------*/
  #section1{
    /* responsive */
    flex-direction: column;
    flex-wrap: wrap;
  }

  #form-button-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
  }

  #form1{
    float: none;
    width: 300px;
  }
  
  #input1{
    float: none;
    width: 300px;
    padding-left: 10px;
  }
  
  #button1{
    width: 300px;
    height: 30px;
    margin-left: 0px;
  }
}

@media(max-width: 440px){
  /*---------  Mobile 375 Header---------*/
  header{
    padding: 0  8px;
    }
  
    #logo{
      width: 100px;
    }
  
    ul{
    font-size: 1rem;
    }
  
    li{
    margin-left: 10px;
    /* justify-content: flex-end; */
    }
  /*---------  Mobile 375 Header End ---------*/
  /*--------- Mobile 375 Section 1 ---------*/
  
  #logo-wrapper{
    display: flex-box;
    /* width: 100px; */
  }

  #logo{
    width: 110px;
    margin: 0;
  }
}
/* =================================== */
/*---------- Media Queries End----------*/
/* =================================== */