*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* css color variables */
  --very-dark-blue: #070439;
  --desaturated-blue: #585989;
  --bright-blue: #3065f8;
  --moderate-cyan: #3c9f8f;
  --light-grayish-blue: #f6f6fe;
  --light-gray: #bfbfbf;
  /* css font variables and font weights*/
  --font-heading-callToAction-header-nav: 'Raleway', arial, sans-serif;
  --font-body: 'Open Sans', arial, sans-serif;
  /* padding  */
  --section-padding: 0 0 0 50px;
  --section-padding-mobile: 0 25px;
  --header-padding: 0 50px;
}

a{
  /* removes underline */
  text-decoration: none;
  color: #000;
}
a:visited{
  /* removes underline */
  text-decoration: none;
  color: #000;
}

ul{
  list-style: none;
}

header{
  top: 0;
  width: 100%;
  height: 160px;
  max-width: 1440px;
  margin: 0 auto;
  /* flex and align-items: center; to vertically align the content */
  display: flex;
  align-items: center;
  /* flex and justify-content: center; aligns content horizontally */
  justify-content: center;
  padding: var(--header-padding);
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
  font-family: var(--font-heading-callToAction-header-nav);
  font-weight: 700;
  font-size: 2.13rem;
  line-height: 140%;
}

p{
  font-family: var(--font-body);
  font-weight: 400px;
  margin-top: 25px;
  font-size: 1rem;
}
/*---------- Header ----------*/

#logo{
  margin-left: 0px;
  margin-right: auto;
}

#nav-ul{
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-heading-callToAction-header-nav);
  font-weight: 400;
  list-style: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;
}

#nav-li{
  margin-left: 50px;
}

.nav-links:hover{
  /* text-decoration: underline; */
  opacity: .7;
}

/*---------- Header End ----------*/
/* ------------------------------- */
/*---------- Main Section 1 ----------*/

#section1{
  max-height: 700px;
  max-width: 1440px;
  margin: 0 auto 200px;
  /* vertically centers section1-wrapper  */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#img1{
  /* padding: var(--section-padding); */
  /* display: flex; */
  /* float: right; */
  /* clear: right; */
  max-width: 50%;
  right: 0;
  margin: 0 auto;
  /* margin-left: 50px; */
}

#section1-wrapper{
  max-width: 600px;
  padding: var(--section-padding);
  float: left;
  display: flex;
  flex-direction: column;

}

#form-button-wrapper{
  margin-top: 25px;
  display:flex;
  flex: wrap;
  /* flex-direction: row; */
}

#form1{
  /* float: left; */ 
  width: 260px;
  height: 35px;
  border-radius: 3px;
}

#input1{
  /* float: left; */
  /* display: inline-block; */
  width: 260px;
  height: 35px;
  border-radius: 4px;
  padding-left: 10px;
}

input::placeholder{color: var(--light-gray);}
input:focus{outline:0;}

#button1{
  margin-right: auto;
  width: 180px;
  height: 35px;
  border-radius: 4px;
  background-color: var(--bright-blue);
  color: #fff;
  margin-left: 12px;
}

#button1:hover{
  opacity: .9;
}

button:focus{outline: 0;}

/*---------- Main Section 1 End ----------*/
/*---------- Section 2 Start ----------*/

#background-purple-desktop{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#section2{
  max-height: 700px;
  max-width: 1440px;
  margin: 0 auto;
  /* vertically centers section2  */
  display: flex;
  flex-direction: row;
  align-items: center;
}

#section2-wrapper{
  max-height: 700px;
  max-width: 800px;
  padding: var(--section-padding);
  float: left;
  display: flex;
  flex-direction: column;
}

#section2-paragraph-wrapper{
  max-width: 500px;
}

#section2-link-wrapper{
  display: flex;
}

#section2-link{
  margin: 20px 0;
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--moderate-cyan);
  display: flex;
  text-decoration: underline;
}

#section2-link:hover{
  opacity: .8;
}

#arrow-svg{
  margin: 3px 0;
  width: 20px;
}

#testimonial-wrapper{
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 7px .04px ;
}

#testimonial-avatar-wrapper{
  display: flex;
  margin-top: 15px;
}

#testimonial-avatar{
  border-radius: 100px;
  width: 50px;
}

#testimonial-avatar-text-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6px;
}

#testimonial-paragraph{
  margin: 5px 0;
  font-size: .8rem;
}

#img2{
  max-width: 43%;
  margin-left: 100px;
}

/*----------  Section 2 End ----------*/
/*----------  Section 3 Start ----------*/
#section3{
  background-color: var(--desaturated-blue);
  /* max-height: 500px; */
  padding: 100px 0;
}

#section3-wrapper{
  /* max-height: 300px; */
  /* height: 300px; */
  max-width: 1440px;
  margin: 0 auto;
  /* vertically centers section3-wrapper  */
  display: flex;
  flex-direction: row;
  align-items: center;
}

#section3-text-wrapper{
  padding: var(--section-padding);
  color: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#form-button-wrapper2{
  margin-left: 100px;
  padding: var(--section-padding);
}

#form2{
  /* display:flex; */
  float: left;
  /* display: inline-block; */
  width: 300px;
  height: 40px;
  border-radius: 3px;
}

#input2{
  /* display:flex; */
  float: left;
  /* display: inline-block; */
  width: 300px;
  height: 40px;
  border-radius: 4px;
  padding-left: 10px;
}

#button2{
  width: 200px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--bright-blue);
  color: #fff;
  margin-left: 12px;
  border: none;
}

#button2:hover{
  opacity: .9;
}

/*----------  Section 3 End ----------*/
/*----------  Footer Start ----------*/
footer{
  bottom: 0;
  width: 100%;
  background-color: var(--very-dark-blue);
  padding: 50px 0;
}

#footer-wrapper{
  max-height: 350px;
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--section-padding);
  /* vertically centers section1-wrapper  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer-logo-wrapper{
  display: block;
  left: 0;
  margin-right: auto;
  /* margin-top: 50px; */
}

#footer-links-wrapper{
  /* max-width: 1440px; */
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex-basis: 10em; */
  /* justify-content: space-between;
  justify-content: space-around; */
  left: 0;
  margin: 30px auto 0 0;
}

.footer-nav-ul{
  margin-right: 200px;
  /* margin-top: 50px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-heading-callToAction-header-nav);
  font-weight: 400;
}

.footer-nav-li{
  margin-top: 15px;
}

.footer-contact-icons{
  margin-right: 15px;
}

#footer-social-nav-ul{
  font-size: 1.9rem;
  display: flex;
  margin-top: 15px;
}

.footer-social-nav-li{
  margin-right: 50px;
}

.footer-social-icons{
  color: #f6f6fe;
  color: var(--light-grayish-blue);
}

.footer-links{
  color: #f6f6fe;
  color: var(--light-grayish-blue);
}

.footer-links:hover{
  text-decoration: underline;
}

.footer-links:visited{
  color: #f6f6fe;
  color: var(--light-grayish-blue);
}
/*----------  Footer End ----------*/

/* =================================== */
/*---------- Media Queries ----------*/
/* =================================== */

@media(max-width:1270px){
  /*---------- Mobile 1270px Section 3 Start---------- */

  #form-button-wrapper2{
    padding: 0 25px 0 0;
    /* right: 0; */
    margin-left: auto;
  }
  /*---------- Mobile 1270px Section 3 End ---------- */

  /*---------- Mobile 1270px Footer Start ---------- */
  #footer-links-wrapper{
    width: 100%;
    justify-content: space-between;

  }
  .footer-nav-ul{
    left: 0;
    margin-right: auto;
  }
  /*---------- Mobile 1270px Footer End ----------*/
}

@media(max-width: 1220px){
/*---------- Mobile 1220px Section 1 ----------*/
  #img1{
    max-width: 40%;
  }
/*---------- Mobile 1220px Section 1 End----------*/
}

@media(max-width: 1140px){
  /*---------- Mobile 1220px Section 1 Start----------*/
  #button1{
    width: 350px;
  }
  /*---------- Mobile 1220px Section 1 End----------*/
  /*---------- Mobile 1220px Section 3 Start----------*/
  #form-button-wrapper2{
    display: flex;
    flex-direction: column;
  }

  #form2{
    width: 350px;
  }

  #input2{
    width: 350px;
  }

  #button2{
    margin-left: 0;
    margin-top: 10px;
    width: 350px;
  }
  /*---------- Mobile 1220px Section 3 End----------*/

}

@media(max-width: 1015px){
/*---------- Mobile 1015px Section 1 ----------*/
  #section1{
    /* margin-top: 100px; */
    /* margin-bottom: 300px; */
  }

  #img1{
    max-width: 35%;
  }
/*---------- Mobile 1015px Section 1 End----------*/
/*---------- Mobile 1015px Section 2 Start----------*/

/*---------- Mobile 1015px Section 2 End----------*/
/*---------- Mobile 1015px Section 3 Start----------*/
  #section3-text-wrapper{
    padding: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  #section3-wrapper{
    flex-direction: column;
  }

  #form-button-wrapper2{
    margin: 0;
    padding: 0;
  }
/*---------- Mobile 1015px Section 3 End----------*/
}

@media(max-width: 940px){
  /*---------- Mobile 940px Section 1 ----------*/
    #section1{
      flex-direction: column;
      margin-top: 50px;
      /* padding: 25px 0; */
    }
  
    #img1{
      max-width: 60%;
      order: 1;
      /* margin-top: 50px; */
      padding-bottom: 90px;
    }
  
    #section1-wrapper{
      order: 2;
      padding-left: 0;
    }
  /*---------- Mobile 940px Section 1 End----------*/
}

@media(max-width: 785px){
/*---------- Mobile 785px Header Start----------*/
  header{
    padding: 0 20px;
  }
  #nav-ul{
    justify-content: flex-end;
  }
  
  #nav-li{
    margin-left: 20px;
    /* flex-basis: auto; */
  }
/*---------- Mobile 785px Header End----------*/
/*---------- Mobile 785px Section 1 Start----------*/
  #section1-wrapper{
    padding: var(--section-padding-mobile);
  }

  #form-button-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
  }

  #form1{
    width: 350px;
    height: 45px;
  }

  #input1{
    width: 350px;
    height: 45px;
  }

  #button1{
    margin: 10px 0 0 0;
    height: 45px;
  }
/*---------- Mobile 785px Section 1 End----------*/
/*---------- Mobile 785px Section 2 Start----------*/
  /* #background-purple-desktop{
    max-height: 2000px;
  } */
  
  #section2{
    flex-direction: column;
    max-height: 2000px;
    padding: 20px 0px;
  }

  #img2{
    /* width: 95%; */
    width: 900px;
    order: 1;
    margin: 0;
  }

  #section2-wrapper{
    order: 2;
    margin-top: 70px;
    padding: var(--section-padding-mobile);
    /* padding-left: 0; */
    align-items: center;
  }
  
  #section2-paragraph-wrapper{
    margin-top: 20px;
  }

  #section2-link-wrapper{
    padding: 30px 0;
  }

/*---------- Mobile 785px Section 2 End----------*/
/*---------- Mobile 785px Section 3 Start----------*/
  /* #section3{
    padding: var(--section-padding-mobile);
  } */

  #section3-wrapper{
    flex-direction: column;
    padding: var(--section-padding-mobile);

  }

  #section3-text-wrapper{
    margin-bottom: 30px;
  }

  #form-button-wrapper2{
    margin: 0;
    padding: 0;
  }

/*---------- Mobile 785px Section 3 End----------*/
/*---------- Mobile 785px Footer Start----------*/
  footer{
    height: 630px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }

  #footer-wrapper{
    max-height: 630px;

  }

  #footer-links-wrapper{
    height: 100%;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    left: none;
  }

  .footer-nav-ul{
    /* margin: 0 0 15px 0; */
    margin-bottom: 30px;
  }

  #footer-social-nav-ul{
    justify-content: center;
  }
/*---------- Mobile 785px Footer End----------*/
}


/* =================================== */
/*---------- Media Queries End----------*/
/* =================================== */